
.responsive body
{
   min-width: 240px;
}
  
.responsive .ayb-content-layout img,
.responsive .ayb-content-layout video
{
   max-width: 100%;
   height: auto !important;
}

.responsive.responsive-phone .ayb-content-layout img 
{
   float: none !important;
}
    
.responsive .ayb-content-layout .ayb-sidebar0, 
.responsive .ayb-content-layout .ayb-sidebar1, 
.responsive .ayb-content-layout .ayb-sidebar2 
{
   width: auto !important;
}
    
.responsive .ayb-content-layout, 
.responsive .ayb-content-layout-row, 
.responsive .ayb-layout-cell 
{
   display: block;
}
    
.responsive .image-caption-wrapper 
{
   width: auto;
}

.responsive.responsive-tablet .ayb-vmenublock,
.responsive.responsive-tablet .ayb-block
{
   margin-left: 1%;
   margin-right: 1%;
   width: 48%;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .ayb-responsive-embed 
{
   position: relative;
   padding-bottom: 56.25%;
   /* 16:9 */
	height: 0;
}

.responsive .ayb-responsive-embed iframe,
.responsive .ayb-responsive-embed object,
.responsive .ayb-responsive-embed embed
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/* dynamic width nav */
.responsive .ayb-nav:not(#ayb-hmenu-bg),
.responsive .ayb-nav-inner
{
   width: auto !important;
   position: relative !important;
   top: auto !important;
   left: auto !important;
   right: auto !important;
   bottom: auto !important;
   margin-top: 0;
   margin-bottom: 0;
   min-width: 0;
}

.responsive .ayb-nav:not(#ayb-hmenu-bg)
{
   min-width: 1%;
   margin-right: 1% !important;
   margin-left: 1% !important;
}

.responsive .responsive-nav 
{
   padding-left: 0;
   padding-right: 0;
}

/* full width hmenu, instead of inline-block */
.responsive .responsive-nav ul.ayb-hmenu 
{
   display: block;
   float: none;
   text-align: center;
}

/* elements on different lines */
.responsive .responsive-nav ul.ayb-hmenu li
{
   float: none;
}
  
/* horizontal margins */
.responsive .responsive-nav ul.ayb-hmenu&gt;li:first-child, 
.responsive .responsive-nav ul.ayb-hmenu&gt;li:last-child, 
.responsive .responsive-nav ul.ayb-hmenu&gt;li
{
   margin-left: 0;
   margin-right: 0;
}
 
/* separator */ 
.responsive .responsive-nav ul.ayb-hmenu&gt;li:before
{
   display: none;
}

/* vertical distance between items */
.responsive .responsive-nav ul.ayb-hmenu a
{
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   text-align: center;
   height: auto;
   white-space: normal;
}

.responsive .responsive-nav ul.ayb-hmenu&gt;li:first-child&gt;a
{
   margin-top: 0 !important;
}

.responsive .responsive-nav ul.ayb-hmenu&gt;li:last-child&gt;a
{
   margin-bottom: 0 !important;
}

/* fixes for extended menu */
.responsive .responsive-nav .ext, 
.responsive .responsive-nav ul.ayb-hmenu&gt;li&gt;ul, 
.responsive .responsive-nav ul.ayb-hmenu&gt;li&gt;ul&gt;li
{
   width: auto !important;
}

/* submenu position on hover */
.responsive .responsive-nav ul.ayb-hmenu ul
{
   left: auto !important;
   right: auto !important;
   top: auto !important;
   bottom: auto !important;
   display: none !important;
   position: relative !important;
   visibility: visible !important;
}

.responsive .responsive-nav ul.ayb-hmenu&gt;li&gt;ul&gt;li:first-child:after 
{
   display: none;
}
.responsive .responsive-nav ul.ayb-hmenu ul a
{
   padding-left: 4% !important;
}
.responsive .responsive-nav ul.ayb-hmenu ul ul a
{
   padding-left: 6% !important;
}
.responsive .responsive-nav ul.ayb-hmenu ul ul ul a
{
   padding-left: 8% !important;
}
.responsive .responsive-nav ul.ayb-hmenu ul ul ul ul a
{
   padding-left: 10% !important;
}
.responsive .responsive-nav ul.ayb-hmenu ul ul ul ul ul a
{
   padding-left: 12% !important;
}
  
.responsive .responsive-nav ul.ayb-hmenu&gt;li&gt;ul
{
   padding: 1px;
}
  
.responsive .responsive-nav ul.ayb-hmenu&gt;li&gt;ul:before
{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.responsive .ayb-sheet
{
   width: auto !important;
   min-width: 240px !important;
   max-width: none;
   margin-right: 1% !important;
   margin-left: 1% !important;
}

#ayb-resp {
   display: none;
}

@media all and (max-width: 768px)
{
    #ayb-resp, #ayb-resp-t { display: block; }
    #ayb-resp-m { display: none; }
}

@media all and (max-width: 480px)
{
    #ayb-resp, #ayb-resp-m { display: block; }
    #ayb-resp-t { display: none; }
}

.responsive .ayb-content-layout, 
.responsive .ayb-content-layout-row, 
.responsive .ayb-layout-cell 
{
   display: block;
}

.responsive .ayb-layout-cell 
{
   width: auto !important;
   height: auto !important;
   border-right-width: 0 !important;
   border-left-width: 0 !important;
   border-radius: 0 !important;
}

.responsive .ayb-content-layout:after, 
.responsive .ayb-content-layout-row:after, 
.responsive .ayb-layout-cell:after 
{
   content: &quot;.&quot;;
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.responsive .ayb-post
{
   border-radius: 0;
}

.responsive .ayb-footer-inner
{
   min-width: 0;
}

.responsive .responsive-tablet-layout-cell 
{
   width: 50% !important;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
